asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
decorator==4.4.2
Django==3.2.4
idna==2.10
mpu==0.23.1
networkx==2.5.1
pi==0.1.2
Pillow==8.2.0
pytz==2021.1
razorpay==1.2.0
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.5
gunicorn==19.7.1
psycopg2==2.7.3.2
django-heroku==0.3.1