<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Ajex cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <title>Hello, world!</title>
  </head>
  <body class="bg-dark">
    <!-- my code starts here -->


    {% load static %}
<!-- alert -->
{% if messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul></strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



{% endif %}

    <div class="jumbotron container-fluid text-center" style="margin-bottom:0;background-color:#3F7811;">
  <h1 class="font-weight-bold font-italic text-light">GreenFresh</h1>
  <p class="font-weight-bold font-italic text-light">Fresh vegiis at your doorstep !</p>
  <p class="font-weight-bold font-italic text-light">Spend time with lovedones not with vegi venders barganing with them leave that to us !</p> 
</div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#885639; ">
      <img src="{% static 'logo.png' %}" class="d-inline-block align-top" height="40" width="40">
  <a class="navbar-brand font-weight-bold font-italic" href="#" style="color: #8CCB31;"><u>Greenfresh</u></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'contactus' %}">Contact us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if not cus %}
    <ul class="navbar-nav pull-left m-lg-2 ">
      <li class="nav-item mr-1 ">
          <a class="nav-link btn btn-danger text-light" href="{% url 'signin' %}">signin </a>
      </li>
       <li class="nav-item my-2 my-sm-0">
          <a class="nav-link btn btn-primary text-warning" href="{% url 'signup' %}">signup </a>
      </li>
    </ul>
    {% else %}
    <a href="{% url 'gotocart' %}">
    <img src="{% static 'cart.png' %}" width="40" class=' ml-2'height="50">
    </a>
    <a class="nav-link btn btn-primary text-warning" href="{% url 'logout' %}">logout </a>
    {% endif %}

    
  </div>
</nav>
{% block body %}

{% endblock %}
<!-- footer -->


<div class="footer jumbotron text-center mb-0"  style="position: relative; width: 100%; left:0 ; bottom: 0; background-color:#3F7811;">
  <p>Footer</p>
</div>
    
    <!-- my code ends here -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    


    
  </body>
</html>